/*containers*/
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "el-cronista . ilprofesional" "the-economist . forbes";
    border: 5px solid black;
    margin: 50px;

    div img {
        width: 100%;
        height: 100%;
    }
}

.el-cronista {
    grid-area: el-cronista;
    /* display: flex; */
    position: relative;
}

.ilprofesional {
    grid-area: ilprofesional;
    /* display: flex; */
    position: relative;
}

.the-economist {
    grid-area: the-economist;
    /* display: flex; */
    position: relative;
}

.forbes {
    grid-area: forbes;
    /* display: flex; */
    position: relative;
}

/* .container-grid div img {
    width: 100%;
    height: 100%;
} */

main .container-grid a:link {
    color: rgb(189, 194, 54);
    bottom: 10px;
    position: absolute;
    left: 50%;
}

.container .col p {
    width: 300px;
}