/*containers*/
.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "el-cronista vacio ilprofesional" "the-economist vacio forbes";
    border: 5px solid black;
    margin: 50px;

    div img {
        width: 100%;
        height: 100%;
    }
    
}

.el-cronista {
    grid-area: el-cronista;
    position: relative;
}

.ilprofesional {
    grid-area: ilprofesional;
    position: relative;
}

.the-economist {
    grid-area: the-economist;
    position: relative;
}

.forbes {
    grid-area: forbes;
    position: relative;
}

.vacio {
    background: linear-gradient(135deg, #d1e8c0, #b8d7a8);
    animation: fondoMovimiento 6s infinite alternate ease-in-out;
}


main .container-grid a:link {
    color: rgb(189, 194, 54);
    bottom: 10px;
    position: absolute;
    left: 50%;
}

.container .col p {
    width: 300px;
}