/*acordeon*/
.accordion {
    background-color: #5f6b0e;

    .accordion-button {
        background-color: #9fb320;
        color: rgb(204, 16, 16);
    }

    .accordion-item {
        background-color: #5f6b0e;
    }

    .accordion-collapse {
        transition: height 0.9s ease;
    }

}


/* tarjetabootstrap */
.card {
    background-color: #41b731;
    border: 2px solid #0c0f04;
    border-radius: 15px;
    padding: 10px;

    .card-title {
        color: #6d0000;
        font-weight: bold;
    }

    .card-text {
        color: #2212b1;
        font-weight: bolder;
    }

    .boton-card {
        background-color: orange;
    }
}

.btn-primary {
    background-color: orange;
    margin: 10px;
}