/*footer*/
footer {
    margin: 30px;

    nav {
        margin-bottom: 10px;
    }

    ul {
        margin-top: 20px;

        li {
            font-weight: bold;
            color: rgb(66, 23, 3);

        }
    }
}