@use'../scss/variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    margin: 60px;
    background: linear-gradient(45deg, $color-primario, $color-secundario);

    /* rgb(184, 224, 161); */
}

header img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
    /* display: block; */
    height: 400px;
}

/*h1 y h2*/
h1 {
    color: red;
    text-align: center;
}

h2 {
    color: rgb(197, 88, 60);
    text-align: center;
    margin: 30px;
}

/*imag: ahorro/presupuesto*/
img {
    display: block;
    margin: auto;
    width: 600px;
    height: 200px;
}



.pages {
    margin: 50px;
}

p {
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px;
    font-size: 20px;
    border: 6px solid green;
}

/*tabla*/
table {
    font-size: 18px;
    color: #430404;
}

table,
th,
td {
    border: 5px solid rgb(218, 23, 23);
    th {
        text-align: lefth;
    }
}



/*videos
video {
    margin-bottom: 20px;
}*/