/* BARRA DE NAVEGACION*/
.navbar-brand img {
    width: 60px;
    height: auto;
}

/*estilos links*/
a {
    color: rgb(212, 20, 20);

    &:hover {
        color: violet;
    }

    &:visited {
        color: rgb(23, 46, 120);
    }
}