/* para usar se escribe @use'direccion variable'; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  margin: 60px;
  background: linear-gradient(45deg, #6e9654, #fad0c4);
  /* rgb(184, 224, 161); */
}

header img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;
  /* display: block; */
  height: 400px;
}

/*h1 y h2*/
h1 {
  color: red;
  text-align: center;
}

h2 {
  color: rgb(197, 88, 60);
  text-align: center;
  margin: 30px;
}

/*imag: ahorro/presupuesto*/
img {
  max-width: 600px;
  max-height: 350px;
}

p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  font-size: 20px;
  border: 6px solid green;
  padding: 10px;
}

/*tabla*/
table {
  font-size: 18px;
  color: #430404;
}

table,
th,
td {
  border: 5px solid rgb(218, 23, 23);
}
table th,
th th,
td th {
  text-align: lefth;
}

.label {
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #b64d10;
}

/*containers*/
.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: "el-cronista" "ilprofesional" "the-economist" "forbes";
  border: 5px solid black;
  margin: 20px;
}
.container-grid img {
  width: 100%;
  height: 100%;
  transition: 1.3s ease;
}
.container-grid img:hover {
  filter: brightness(40%);
}
.container-grid a {
  bottom: 10px;
  position: absolute;
  left: 50%;
}
.container-grid a:hover {
  color: violet;
}
.container-grid a:visited {
  color: rgb(23, 46, 120);
}

@media (min-width: 1024px) {
  .container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "el-cronista vacio ilprofesional" "the-economist vacio forbes";
    border: 5px solid black;
    margin: 50px;
  }
  .container-grid img {
    width: 100%;
    height: 100%;
    transition: 1.3s ease;
  }
  .container-grid img:hover {
    filter: brightness(40%);
  }
  .container-grid a {
    bottom: 10px;
    position: absolute;
    left: 50%;
  }
  .container-grid a:hover {
    color: violet;
  }
  .container-grid a:visited {
    color: rgb(23, 46, 120);
  }
}
.el-cronista {
  grid-area: el-cronista;
  position: relative;
}

.ilprofesional {
  grid-area: ilprofesional;
  position: relative;
}

.the-economist {
  grid-area: the-economist;
  position: relative;
}

.forbes {
  grid-area: forbes;
  position: relative;
}

.vacio {
  /* background: linear-gradient(135deg, #d1e8c0, #b8d7a8); */
  /* animation: fondoMovimiento 6s infinite alternate ease-in-out; */
}

.container-video {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .container-video {
    flex-direction: row;
  }
}
/* .container .col p {
    width: 300px;
} */
/*acordeon*/
.accordion {
  background-color: #5f6b0e;
}
.accordion .accordion-button {
  background-color: #9fb320;
  color: rgb(204, 16, 16);
}
.accordion .accordion-item {
  background-color: #5f6b0e;
}
.accordion .accordion-collapse {
  transition: height 0.9s ease;
}

/* tarjetabootstrap */
.card {
  background-color: #41b731;
  border: 2px solid #0c0f04;
  border-radius: 15px;
  padding: 10px;
}
.card .card-title {
  color: #6d0000;
  font-weight: bold;
}
.card .card-text {
  color: #2212b1;
  font-weight: bolder;
}
.card .boton-card {
  background-color: orange;
}

.btn-primary {
  background-color: orange;
  margin: 10px;
}

/* BARRA DE NAVEGACION*/
.navbar-brand img {
  width: 60px;
  height: auto;
}

/*estilos links*/
a {
  color: rgb(212, 20, 20);
}
a:hover {
  color: violet;
}
a:visited {
  color: rgb(23, 46, 120);
}

/*footer*/
footer {
  margin: 30px;
}
footer nav {
  margin-bottom: 10px;
}
footer ul {
  margin-top: 20px;
}
footer ul li {
  font-weight: bold;
  color: rgb(66, 23, 3);
}

.video-consejo {
  width: 40%;
  transition: transform 0.6s ease;
}
.video-consejo:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=estilos.css.map */
